<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ boven head ---------->

    <title>Allergy Recepies: {% block title %}{% endblock %}</title>

    </head>

    <body>


    <div class="container">
    <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a class="active"="{{ url_for('account') }}">My Account</a></li>
    <li><a href="{{ url_for('profile') }}">Profile</a></li></ul>
    </div>
    <div class="container">
        <h2>Favorite Recipies</h2>
        <p>Click on the images to enlarge them.</p>
        <div class="row">
          {% for i in range(3) %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="{{results[i].recipe_image}}" target="_blank">
                <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>{{results[i].recipe_name}}</p>
                </div>
              </a>
            </div>
            <div id = "like">
          {% if results[i].recipe_id in likes %}
            <button name="like" class="like_button" type="submit" value="{{results[i].recipe_id}}" >Unlike</button>
          {% else %}
            <button name="like" class="like_button" type="submit" value="{{results[i].recipe_id}}" >Like</button>
          {% endif %}
        </div>
          </div>
          {% endfor %}
        </div>

      </div>

      </body>

    <div class="container register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                        </div>
                        <div class="col-md-9 register-right">
                            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            </ul>
                            <form action="{{ url_for('account') }}" method="post">
                                <fieldset>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <h3 class="register-heading">My account</h3>
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            <input class="form-control" name="password" placeholder="Old password" type="password"/>
                                            </div>
                                        <div class="form-group">
                                            <input class="form-control" name="password" placeholder="New password" type="password"/>
                                            </div>
                                            <div class="form-group">
                                            <button class="btn btn-default" type="submit">Change password</button>
                                            </div>
                                            <div class="form-group">
                                            <button class="btn btn-default" type="submit">Delete account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </fieldset>
                                </form>
                                    </body>

