{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<body>

  <div class="container">
    <h2>Featured Recipies</h2>
    <!--<p>The .thumbnail class can be used to display an image gallery.</p>-->
    <!--<p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>-->
    <!--<p>Click on the images to enlarge them.</p>-->
    <div class="row">
      {% for i in range(9) %}
      <div class="col-md-4">
        <div class="thumbnail">
          <a href=" {{ url_for('moreinfo') }}?id= {{results[i].recipe_id}}">
            <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">
            <div class="caption">
              <p>{{results[i].recipe_name}}</p>
            </div>
          </a>
        </div>
        <div id = "like">
          <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>
        </div>
      </div>
      {% endfor %}
    </div>






  <!--  <div class="row">-->
  <!--    {% for i in range(3, 6) %}-->
  <!--    <div class="col-md-4">-->
  <!--      <div class="thumbnail">-->
  <!--        <a href="{{results[i].recipe_image}}" target="_blank">-->
  <!--          <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">-->
  <!--          <div class="caption">-->
  <!--            <p>{{results[i].recipe_name}}</p>-->
  <!--          </div>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--      <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>-->
  <!--    </div>-->
  <!--     {% endfor %}-->
  <!--  </div>-->

  <!--  <div class="row">-->
  <!--    {% for i in range(6, 9) %}-->
  <!--    <div class="col-md-4">-->
  <!--      <div class="thumbnail">-->
  <!--        <a href="{{results[i].recipe_image}}" target="_blank">-->
  <!--          <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">-->
  <!--          <div class="caption">-->
  <!--            <p>{{results[i].recipe_name}}</p>-->
  <!--          </div>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--      <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>-->
  <!--    </div>-->
  <!--     {% endfor %}-->
  <!--  </div>-->
  <!--</div>-->

  <script>
    $(".button").click(function(event) {
 // / 1. form get value
 // / 2. Ajax call /addtodb + data=this.value()
 // / 3. addtodb vraag waarde op args.get
 // / 4. database.query

 var fired_button = $(this).val();
 var endpoint = "";
 if ($(event.target).html() == 'Like'){
   endpoint=  "{{url_for('test')}}"
 }
 else{
   endpoint = "{{url_for('unlike')}}"
 }
 $.ajax({
  type : 'POST',
  url : endpoint,
  data : JSON.stringify({fired_button}, null, '\t'),
  contentType: 'application/json;charset=UTF-8',
  success: function() {
      alert("success");
      if ($(event.target).html() == 'Like'){
        $(event.target).html("Unlike");
    }
    else{

      $(event.target).html("Like");
    }
 }
//  success:function(response){document.write(response);}


 });
// var test = document.getElementById("myDIV").className = "mystyle";
window.alert(fired_button);
})
  </script>

  <!-- <script src="static/script.js"></script> -->
  </body>
{% endblock %}