{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<body>

  <div class="container">
    <h2>Featured Recipies</h2>
    <!--<p>The .thumbnail class can be used to display an image gallery.</p>-->
    <!--<p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>-->
    <!--<p>Click on the images to enlarge them.</p>-->
    <div class="row">
      {% for i in range(9) %}
      <div class="col-md-4">
        <div class="thumbnail">
          <a href=" {{ url_for('moreinfo') }}?id= {{results[i].recipe_id}}">
            <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">
            <div class="caption">
              <p>{{results[i].recipe_name}}</p>
            </div>
          </a>
        </div>
        <div id = "like">
          {% if results[i].recipe_id in likes %}
            <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Unlike</button>
          {% else %}
            <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>
          {% endif %}
        </div>
      </div>
        {% endfor %}
    </div>






  <!--  <div class="row">-->
  <!--    {% for i in range(3, 6) %}-->
  <!--    <div class="col-md-4">-->
  <!--      <div class="thumbnail">-->
  <!--        <a href="{{results[i].recipe_image}}" target="_blank">-->
  <!--          <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">-->
  <!--          <div class="caption">-->
  <!--            <p>{{results[i].recipe_name}}</p>-->
  <!--          </div>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--      <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>-->
  <!--    </div>-->
  <!--     {% endfor %}-->
  <!--  </div>-->

  <!--  <div class="row">-->
  <!--    {% for i in range(6, 9) %}-->
  <!--    <div class="col-md-4">-->
  <!--      <div class="thumbnail">-->
  <!--        <a href="{{results[i].recipe_image}}" target="_blank">-->
  <!--          <img src="{{results[i].recipe_image}}" alt="Lights" style="width:100%">-->
  <!--          <div class="caption">-->
  <!--            <p>{{results[i].recipe_name}}</p>-->
  <!--          </div>-->
  <!--        </a>-->
  <!--      </div>-->
  <!--      <button name="like" class="button" type="submit" value="{{results[i].recipe_id}}" >Like</button>-->
  <!--    </div>-->
  <!--     {% endfor %}-->
  <!--  </div>-->
  <!--</div>-->
  <script src="static/script.js"></script>
  {% if session.user_id %}
  <script>
    like();

  </script>
  {% else %}

  <script>

  cannot();

  </script>
  {% endif %}


  </body>
{% endblock %}