{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <body>
        <div id="paragraph">
        <p>This is a page which searches recipies for people with allergies</p></div>
        <ul>
        <i><u><li><a href="https://www.bbcgoodfood.com/recipes/4683/pizza-margherita-in-4-easy-steps" target="_blank">Margarita<br><img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--51643_11.jpg?itok=I_hF8vFL" border="10"></a></li><br>
        <li><a href="https://www.bbcgoodfood.com/recipes/620636/mushroom-pizza" target="_blank">Fungi<br><img src="https://www.bbcgoodfood.com/sites/default/files/styles/bbcgf_recipe/public/user-recipe/006ts_4.jpg?itok=oR5wqTaC" border="10"></a></li><br>
        <li><a href="https://www.bbcgoodfood.com/recipes/3265/florentine-pizza" target="_blank">Florentine<br><img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--4885_12.jpg?itok=pSWTOI2Q" border="10"></a></li><br></i></u>
        </ul>
    </body>
{% endblock %}