{% extends "layouttest.html" %}

{% block title %}
    More info
{% endblock %}

{% block main %}

<div class="container">

    <hgroup class="mb20">
		<h1>More information</h1>
		<h2 class="lead"> Recipe details <strong class="text-danger"></strong></h2>
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
		<article class="search-result row">
			<div class="col-xs-12 col-sm-12 col-md-3">

				<a href="#" title="Image" class="thumbnail"><img src="{{ image }}" alt="" /></a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="" title="">{{ name }}</a></h3>

				<p> Flavors:
					{% for k,v in flavors.items() %}
						&#183; {{k}}: {{v}}
					{% endfor %}
				</p>

				<p>Ingredients:
				{% for item in ingredients %}
					&#183; {{ item }}
				{% endfor %}
				</p>
				<p>Number of servings: {{ servings }}</p>
				<p>Total time: {{ totaltime }}</p>
				<p> <a href="{{ source }}" title="{{ source }}" target="_blank"> Go to full recipe</a> </p>
				<div id = "like">
					{% if recipe_id in likes %}
						<button name="like" class="button" type="submit" value="{{recipe_id}}" >Unlike</button>
						{% else %}
						<button name="like" class="button" type="submit" value="{{recipe_id}}" >Like</button>
						{% endif %}
					  </div>


			</div>
			<span class="clearfix borda"></span>
		</article>

	</section>

	<select size="5" style="width:100px;">
		{% for user in users %}
			<option>{{user}}</option>
		{% endfor %}
		
		   </select>

	<script src="static/script.js"></script>
	
	{% if session.user_id %}
	<script>
	  like();
  
	</script>
	{% else %}
  
	<script>
	  
	cannot();
  
	</script>
	{% endif %}

	
	

{% endblock %}