{% extends "layout2.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<body>
  <div class="container">
    <h2>Favorite Recipes of {{results[0].username}}: </h2>
    <!-- renders the favorites of the selected user with the option to like or unlike it by session -->
    <div class="row">
    {% for result in results %}
    <div class="col-md-4">
    <div class="thumbnail">
      <a href=" {{ url_for('moreinfo') }}?id= {{result.recipe_id}}">
      <img src="{{result.recipe_image}}" alt="Lights" style="width:100%">
      <div class="caption">
        <p>{{result.recipe_name}}</p>
      </div>
      </a>
    </div>
    <div id = "like">
      {% if result.recipe_id in likes %}
      <button name="like" class="like_button" type="submit" value="{{result.recipe_id}}" >Unlike</button>
      {% else %}
      <button name="like" class="like_button" type="submit" value="{{result.recipe_id}}" >Like</button>
    {% endif %}
    </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- check sesion user id to load the right buttons (like/unlike)-->
{% if session.user_id %}
<script>like();</script>
{% else %}

<script> cannot(); </script>
{% endif %}

</body>
{% endblock %}