<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Allergy Recepies: {% block title %}{% endblock %}</title>


</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <a class="navbar-brand" href="{{ url_for('index') }}"><span class="green">Allergy</span> <span class="red">Recipes</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
  </div>
</nav>
<form action="{{ url_for('search') }}" method="post">
<h1>Allergy-Friendly Recipe Search</h1>
<p1>ALLERGIES</p1>
<div class="row">
  <div class="column">
	<label class="container">Peanut-free
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>

  <br><label class="container">Peanut-free
  <input type="checkbox"></br>
  <span class="checkmark"></span>

  <label class="container">Seafood-free
  <input type="checkbox">
  <span class="checkmark"></span>

  <br><label class="container">Sesame-free
  <input type="checkbox">
  <span class="checkmark"></span>

  <br><label class="container">Soy-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Dairy-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Egg-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Sulfite-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Wheat-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label><br>

<label class="container">Treenut-free
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
  </br>

<p2>DIETS</p2>

<label class="container">Ketogenic
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Lacto vegetarian
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Ovo vegetarian
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Pescetarian
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Vegan
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Low FODMAP
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Lacto-ovo vegetarian
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Paleo
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
  </div>

<p3>COURSE</p3>

<label class="container">Main dishes
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Side dishes
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Appetizers
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Salads
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Breakfast and Brunch
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Breads
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Soups
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Beverages
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Condiments and Sauces
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Cocktails
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<br><label class="container">Snacks
  <input type="checkbox">
  <span class="checkmark"></span>
</label></br>

<label class="container">Lunch
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
  </div>

<div class="form-group">
    <button class="button button1" type="submit">Submit</button>
</div>
</form>
</body>



