{% extends "layout.html" %}

{% block title %}
   test
{% endblock %}

{% block main %}
    <form action="{{ url_for('search') }}" method="post">
        <fieldset>
        <p>ALLERGIES</p>
        <div class="checkbox">
          <label><input type="checkbox" name="Gluten-free" value="393^Gluten-Free">Gluten-Free</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name= "Peanut-free" value="394^Peanut-Free">Peanut-Free</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name="Seafood-free" value="398^Seafood-Free">Seafood-Free</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name="Sesame-free" value="399^Sesame-Free">Sesame-Free</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name="Soy-free" value="400^Soy-Free">Soy-Free</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name="Dairy-free" value="396^Dairy-Free">Dairy-Free</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Egg-free" value="397^Egg-Free">Egg-Free</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Sulfite-free" value="401^Sulfite-Free">Sulfite-Free</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Wheat-free" value="392^Wheat-Free">Wheat-Free</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Tree nut-free" value="395^Tree Nut-Free">Tree Nut-Free</label>
        </div>
        </fieldset>
        <fieldset>
        <p>DIETS</p>
         <div class="checkbox">
              <label><input type="checkbox" name="Ketogenic" value="406^Ketogenic">Ketogenic</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Lacto vegetarian" value="388^Lacto vegetarian">Lacto vegetarian</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Ovo vegetarian" value="389^Ovo vegetarian">Ovo vegetarian</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Pescetarian" value="390^Pescetarian">Pescetarian</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Vegan" value="386^Vegan">Vegan</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Low FODMAP" value="408^Low FODMAP">Low FODMAP</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Lacto-ovo vegetarian" value="387^Lacto-ovo vegetarian">Lacto-ovo vegetarian</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Paleo" value="403^Paleo">Paleo</label>
        </div>
        </fieldset>

        <fieldset>
        <p>COURSE</p>
         <div class="checkbox">
              <label><input type="checkbox" name="Main Dishes" value="course^course-Main Dishes">Main Dishes</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Desserts" value="course^course-Desserts">Desserts</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Side Dishes" value="course^course-Side Dishes">Side Dishes</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Appetizers" value="course^course-Appetizers">Appetizers</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Salads" value="course^course-Salads">Salads</label>
        </div>

         <div class="checkbox">
              <label><input type="checkbox" name="Breakfast and Brunch" value="course^course-Breakfast and Brunch"> Breakfast and Brunch</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Breads" value="course^course-Breads">Breads</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Soups" value="course^course-Soups">Soups</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Beverages" value="course^course-Beverages">Beverages</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Condiments and Sauces" value="course^course-Condiments and Sauces">Condiments and Sauces</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Cocktails" value="course^course-Cocktails">Cocktails</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Snacks" value="course^course-Snacks">Snacks</label>
        </div>

        <div class="checkbox">
              <label><input type="checkbox" name="Lunch" value="course^course-Lunch">Lunch</label>
        </div>
        </fieldset>




         <div class="form-group">
            <button class="btn btn-default" type="submit">Submit</button>
        </div>

        </form>

{% endblock %}



